TO: {{env "NOMAD_META_customer_name"}} <{{ env "NOMAD_META_customer_email"}}>
FROM: {{env "NOMAD_META_rep_name"}} <{{env "NOMAD_META_rep_email"}}>
SUBJ: Thanks for your interest.
------

Hey {{$S := (env "NOMAD_META_customer_name" | split " ")}}{{index $S 0}},

Thanks for your interest{{ if env "NOMAD_META_product" }} in {{env "NOMAD_META_product"}}{{end}}. 

I look forward to talking with you soon.

Sincerely,
{{ env "NOMAD_META_rep_name"  }}
{{ env "NOMAD_META_rep_title" }}
