TO: {{env "NOMAD_META_customer_name"}} <{{ env "NOMAD_META_customer_email"}}>
FROM: {{env "NOMAD_META_rep_name"}} <{{env "NOMAD_META_rep_email"}}>
SUBJ: Thanks for your interest.
------
Hello {{$S := (env "NOMAD_META_customer_name" | split " ")}}{{index $S 0}},
Thanks for your interest{{ if env "NOMAD_META_product_name" }} in the {{env "NOMAD_META_product_name"}} product{{end}}. I look forward to talking with you soon.

Sincerely,
{{$S := (env "NOMAD_META_rep_name" | split " ")}}{{index $S 0}}
{{ env "NOMAD_META_rep_title" }}
